h1 {
    text-align: center;
}

.menu a:hover {
    background-color: #ccc;
}

.menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu {
    width: 33%;
    margin: 0 auto;
}
